name: ci

# CINTENT >> MANUAL_TRIGGER
# on:
#   push:
#     branches:
#       - "**"
#     tags-ignore:
#       - v*
on: [repository_dispatch, workflow_dispatch]

jobs:
  test:
    strategy:
      matrix:
        # CINTENT >> REMOVE_MATRIX
        # python-version: ["3.10", "3.11", "3.12"]
        # os: ["ubuntu-latest", "windows-latest", "macos-latest", "macos-13"] # macOS 13 is the latest version with the old architecture
        python-version: ["3.12"]
        os: ["ubuntu-latest"]
    
    runs-on: ${{ matrix.os }}
    steps:
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Setup Poetry
        uses: abatilo/actions-poetry@v3
      - name: Setup FFMPEG
        uses: FedericoCarboni/setup-ffmpeg@v3
        if: ${{ ! startsWith(matrix.os, 'macos') }}

      # CINTENT >> INSERT_CINTENT
      - uses: JavidDitty/setup-cintent@3e5b2faf83a2ad32c22a1cd0f86f5f20ea53a5ab

      - name: Setup Dependencies with Homebrew
        if: startsWith(matrix.os, 'macos')
        run: |
          brew install llvm ffmpeg
          echo "CC=$(brew --prefix)/opt/llvm/bin/clang" >> $GITHUB_ENV
          echo "CXX=$(brew --prefix)/opt/llvm/bin/clang++" >> $GITHUB_ENV
      - name: checkout
        uses: actions/checkout@v4
      - uses: actions/cache@v4
        name: Cache the venv
        with:
          path: ./.venv
          key: venv-${{ matrix.os }}-${{ matrix.python-version }}-${{ hashFiles('poetry.lock') }}
      - name: Setup Project
        run: make init-project
      - name: Run precommit
        run: make precommit
        
      # CINTENT >> INSERT_CINTENT
      - name: Upload CIntent Artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: ${{ env.CINTENT_ARTIFACT_NAME }}
          path: ${{ env.CINTENT_LOGS }}